* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
.toolBox-cont {
  height: 5rem;
  width: 100vw;
  background: #2c3e50;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}
.hidden {
  display: none;
}

.toolbox-priority-cont {
  height: 3.5rem;
  width: 18rem;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
}

.color {
  height: 60%;
  width: 20%;
  border-radius: 10px;
  cursor: pointer;
}

.action-btn-cont {
  height: 3.5rem;
  width: 10rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid black; */

  font-size: 2.2rem;
}

.add-btn,
.remove-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  height: 3rem;
  width: 3.5rem;
  color: rgb(252, 249, 249);
  /* border: 1px solid red; */
  background: #4d5f5c;
  padding: 0.2rem 0.8rem;
  border-radius: 10px;
}

.add-btn:hover,
.remove-btn:hover {
  background: #000;
}

.modal-cont {
  height: 20rem;
  width: 30rem;
  background-color: rgb(20, 22, 20);
  position: absolute;
  top: calc(100vh / 2);
  left: calc(100vw / 2);
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  /* position: relative; */
}

/* .modal-cont {
  position: relative;
} */

.textarea-cont {
  font-size: 1.75rem;
  color: #050a30;
  width: 70%;
  height: 100%;
  resize: none;
  padding: 2rem;
  border: none;
  outline: none;
  background: #474e4dc6;
  /* border-top-left-radius: 10px; */
}

.priority-color-cont {
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  position: relative;
}

.priority-color {
  height: 12%;
  width: 60%;
  border-radius: 10px;
  cursor: pointer;
}

.addBtn {
  position: absolute;
  height: 4rem;
  width: 4rem;
  font-weight: bold;
  border-radius: 50px;
  border-style: none;
  bottom: 2%;
  right: 110%;
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  margin-top: -2rem;
  transition: all 0.2s ease-in-out;
}
.addBtn:hover {
  background-color: white;
  color: black;
  border-style: none;
  outline: none;
}

.main-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 5rem 2rem;
  gap: 2rem;
}

.main-cont .ticket-lock {
  width: 100%;
  /* border: 3px solid rgb(214, 9, 9); */
  display: flex;
  flex-direction: row;
  justify-content: end;
  position: relative;
  bottom: 1.5em;
  right: 0.5em;
  font-size: 1.5rem;
}

.ticket-cont {
  height: 12rem;
  width: 18rem;
  /* background-color: #baf104; */
}

.task-area {
  background-color: #4c5555;
  height: 8rem;
  padding: 1rem;
  /* text-align: center; */
  outline: none;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  word-wrap: break-word;
}

.ticket-color {
  height: 2rem;
  background-color: rgb(241, 3, 3);
}
.ticket-id {
  height: 2rem;
  background-color: rgb(157, 140, 140);
  padding: 0.5rem 1rem;
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.border {
  border: 3px solid white;
}

/* utility class*/

/* desktop screen*/
@media (min-width: 425px) and (max-width: 760px) {
  .modal-cont {
    height: 20rem;
    /* width: 80vw; */
    background-color: rgb(20, 22, 20);
    position: absolute;
    top: calc(100vh / 2);
    left: calc(100vw / 2);
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
  }
  .color {
    height: 3rem;
    width: 3rem;
  }
  .priority-color {
    width: 70%;
    height: 15%;
  }

  .toolbox-priority-cont {
    height: 3.5rem;
    width: 18rem;
    /* background-color: rgb(20, 22, 20); */
  }

  .addBtn {
    position: absolute;
    bottom: 3%;
    right: 110%;
    height: 3rem;
    width: 3rem;
  }

  .action-btn-cont {
    /* border: 2px solid royalblue; */
    width: 10rem;
    align-items: center;
    justify-content: space-around;
  }

  .add-btn,
  .remove-btn {
    text-align: center;
    height: 2rem;
    width: 2rem;
    font-size: 2rem;
    color: rgb(248, 243, 243);
  }

  .add,
  .remove {
    background: #4d5f5c;
    padding: 0.2rem 0.8rem;
    border-radius: 10px;
  }

  .color {
    height: 60%;
    width: 20%;
    cursor: pointer;
  }
}

/* mobile screen*/
@media only screen and (max-width: 425px) {
  body {
    box-sizing: border-box;
  }
  .modal-cont {
    display: flex;
    flex-direction: column;
    width: 16rem;
    /* height: 20rem; */
  }

  .addBtn {
    position: absolute;
    height: 3rem;
    width: 3rem;
    top: -30%;
    right: 5%;
  }
  .textarea-cont {
    width: 100%;
  }
  .priority-color-cont {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .priority-color {
    height: 50%;
    width: 20%;
  }

  .toolbox-priority-cont {
    height: 3.5rem;
    width: 60%;
    /* background-color: rgb(20, 22, 20); */
    /* margin: auto 4rem; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    /* cursor: pointer; */
  }

  .action-btn-cont {
    /* border: 1px solid red; */
    width: auto;
  }

  .add-btn,
  .remove-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 2.2rem;
    width: 2.2rem;
    font-size: 2rem;
    color: rgb(244, 242, 242);
    background: #85908e;
    border-radius: 5px;
    cursor: pointer;
  }
  .remove-btn {
    margin-left: 1rem;
  }
  .color {
    height: 60%;
    width: 20%;
    cursor: pointer;
  }
}

.bgclr {
  background: #85908e;
}

.redBox {
  color: #f51720;
}

.red {
  background-color: #f51720;
}

.pink {
  background-color: #fa26a0;
}

.gold {
  background-color: #f8d210;
}

.cyan {
  background-color: #2ff3e0;
}

.drak-blue {
  background-color: #050a30;
}

.navy-blue {
  background-color: #000c66;
}

.blue {
  background-color: #0000ff;
}
